@using BSAWeatherApp.Models

@{
    ViewBag.Title = "Forecast";
    var cityBind = new SelectList(Enum.GetValues(typeof(Cities)));
    var daysPeriodBind = new List<SelectListItem>
    {
        new SelectListItem{ Text = "For three days", Value = "3"},
        new SelectListItem{ Text = "For a week", Value = "7"}
    };
}
<div class="container" id="filterContainer">
    
    @using (Html.BeginForm("Forecast", "Weather", FormMethod.Get))
    {
        <div class="col-md-6">
            <h2>Weather forecast</h2>
            <div class="form" id="citiaesGroup">
                @Html.Label("customCity", "Enter city name:")
                @Html.TextBox("customCity", null, new { @class = "form-control", @required = "required" })
            </div>
            <div class="form" id="customCityGroup">
                @Html.Label("defaultCity", "Select city from list:")
                @Html.DropDownList("defaultCity", cityBind, "--", new { @class = "form-control" })
            </div>
            <div class="form" id="daysCountCityGroup">
                @Html.Label("daysCount", "Select period:")
                @Html.DropDownList("daysCount", daysPeriodBind, new { @class = "form-control" })
            </div>
            <button value="GetForecast" type="submit" id="weatherSbmt" class="btn btn-outline-success">
                Get forecast
                <i class="fa fa-cloud" aria-hidden="true"></i>
            </button>
            <p></p>
        </div>
    }
</div>
@section scripts{
    <script src="~/Scripts/weatherForecast.js"></script>
}

