@using BSAWeatherApp.Models

@{
    ViewBag.Title = "Forecast";
    var cityBind = new SelectList(Enum.GetValues(typeof(Cities)));
    var daysPeriodBind = new List<SelectListItem>
    {
        new SelectListItem{ Text = "For today", Value = "forToday", Selected = true},
        new SelectListItem{ Text = "For three days", Value = "forThreeDays"},
        new SelectListItem{ Text = "For a week", Value = "forAWeek"}
    };
}
<link href="~/Content/style.css" rel="stylesheet" />
<div class="container">

    @if (ViewBag.Error)
    {
        <div class="alert alert-danger alert-dismissible" role="alert" id="alertBoxForError">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> Please enter correct values!
        </div>
    }

    @using (Html.BeginForm("Forecast", "Weather", FormMethod.Get))
    {
        <h2><i><text id="city"></text></i>Weather forecast</h2>
        <div class="col-md-4">
            <div class="form" id="citiesGroup">
                @Html.Label("defaultCity", "Select city:")
                @Html.DropDownList("defaultCity", cityBind, "--", new { @class = "form-control" })
            </div>
            <div class="form" id="customCityGroup">
                @Html.Label("customCity", "Select custom city:")
                @Html.TextBox("customCity", null, new { @class = "form-control", @required = "required" })
            </div>
            <div class="form" id="periodsCityGroup">
                @Html.Label("period", "Select period:")
                @Html.DropDownList("period", daysPeriodBind, new { @class = "form-control" })
            </div>
            @*<submit  type="submit" class="btn btn-default">Get forecast</submit>*@
            <input type="submit" id="weatherSbmt" value="Get forecast" class="btn btn-default" />
            <p></p>
        </div>
    }

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/weatherForecast.js"></script>
</div>


