@model BSAWeatherApp.Models.Forecast
<div class="container" id="forecastContainer">
    <div class="row">
        <a class="btn btn-outline-primary" href=@Url.Action("Filter", "Weather") id="backToFilter">
            <i class="glyphicon glyphicon-arrow-left"></i> Back to filter
        </a>
        <h2 id="forecastHeader">Weather for @Model.City.Name (@Model.City.Country)</h2>
        @if(Model.City.Country == "UA")
        {
            <img src="~/Content/img/ua_flag.png" width="50" height="40" id="uaFlagImg"/>
        }
    </div>
    <div class="table row">
        <table class="table-hover table-condensed" id="forecastTable">
            <thead>
                <tr>
                    <td><b>Day</b></td>
                    <td><b>Morning ℃</b></td>
                    <td><b>Day ℃</b></td>
                    <td><b>Evening ℃</b></td>
                    <td><b>Night ℃</b></td>
                    <td><b>Minimum ℃</b></td>
                    <td><b>Maximum ℃</b></td>
                    <td><b>Weather</b></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach(var weather in Model.List)
                {
                    var date = weather.Dt.UnixTimeStampToDateTime();
                    var weatherDescription = weather.Weather.FirstOrDefault();
                    var icon = $"http://openweathermap.org/img/w/{weatherDescription.Icon}.png";
                    <tr>
                        <td>@date.DayOfWeek (@date.ToShortDateString())</td>
                        <td>@weather.Temp.Morn</td>
                        <td>@weather.Temp.Day</td>
                        <td>@weather.Temp.Eve</td>
                        <td>@weather.Temp.Night</td>
                        <td>@weather.Temp.Min</td>
                        <td>@weather.Temp.Max</td>
                        <td>@weatherDescription.Main / @weatherDescription.Description</td>
                        <td><img  src="@icon" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/weatherForecast.js"></script>
}

