@model BSAWeatherApp.Models.ForecastViewModel
<link href="~/Content/style.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <h2 id="forecastHeader">Weather for @Model.CityName (@Model.Country)</h2>
    </div>
    <div class="table row">
        <table class="table-condensed table-hover" id="forecastTable">
            <thead>
                <tr>
                    <td><b>Day:</b></td>
                    <td><b>Morning temperature ℃</b></td>
                    <td><b>Day temperature ℃</b></td>
                    <td><b>Evening temperature ℃</b></td>
                    <td><b>Night temperature ℃</b></td>
                    <td><b>Minimum temperature ℃</b></td>
                    <td><b>Maximum temperature ℃</b></td>
                    <td><b>Weather</b></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach(var weather in Model.WeatherForecast)
                {
                    var icon = $"http://openweathermap.org/img/w/{weather.Weather.Icon}.png";
                    <tr>
                        <td>@weather.Date.DayOfWeek (@weather.Date.ToShortDateString())</td>
                        <td>@weather.Temperature.MorningTemp</td>
                        <td>@weather.Temperature.DayTemp</td>
                        <td>@weather.Temperature.EveningTemp</td>
                        <td>@weather.Temperature.NightTemp</td>
                        <td>@weather.Temperature.MinTemp</td>
                        <td>@weather.Temperature.MaxTemp</td>
                        <td>@weather.Weather.Main / @weather.Weather.Description</td>
                        <td><img src="@icon" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


