@model IEnumerable<CityViewModel>
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var count = 1;
}
<div class="container" id="settings">
    <div class="row">
        @using (Ajax.BeginForm("AddCity", "Weather",
                                new { name = "name", description = "description" },
                                new AjaxOptions { HttpMethod = "POST", OnSuccess = "updateSettings" },
                                new { @class = "form" }))
        {
            <div class="col-md-3">
                <h2>Add city: <span class="fa fa-plus" id="addedCity"></span></h2>
                <div class="form" id="cityNameForm">
                    @Html.Label("name", "Enter city name:")
                    @Html.TextBox("name", null, new { @class = "form-control", @required = "required" })
                </div>
                <div class="form" id="descriptionForm">
                    @Html.Label("description", "Add description (optional):")
                    @Html.TextArea("description", null, new { @class = "form-control", @rows = "5" })
                </div>
                <button type="submit" id="addCity" class="btn btn-success">
                    Add city
                </button>
            </div>
        }
        <div class="col-md-8 col-md-push-1">
            <table class="table table-striped" id="tableWithCity">
                <thead>
                    <tr>
                        <td style="width:30%">Name<br /></td>
                        <td style="width:50%">Desription<br /></td>
                        <td style="width:20%">&nbsp;<br /></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in Model)
                    {
                        <tr id="tableRow_@city.Id">
                            <td>
                                @Html.TextBoxFor(m => city.Name, new
                           {
                               @class = "form-control",
                               @id = $"city_{city.Id}",
                               @onchange = $"changeEnabled({city.Id})"
                           })
                            </td>
                            <td>
                                @Html.TextBoxFor(m => city.Description, new
                           {
                               @class = "form-control",
                               @id = $"description_{city.Id}",
                               @onchange = $"changeEnabled({city.Id})"
                           })
                            </td>
                            <td>
                                <button class="btn btn-success" id="update_@city.Id"
                                        onclick="updateCity(@city.Id)" disabled>
                                    <span class="fa fa-refresh"></span>
                                </button>
                                <button class="btn btn-danger" onclick="deleteCity(@city.Id)">
                                    <span class="fa fa-trash"></span>
                                </button>
                            </td>
                        </tr>
                        count++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/cities.js"></script>
    <script src="~/Scripts/jquery-paginate.min.js"></script>
}
