s<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSA 2017 Weather Api</title>
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/css")
    @RenderSection("content", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=@Url.Action("Home", "Weather")>
                    <i class="fa fa-thermometer"></i>
                    Weather app&nbsp;
                </a>
                <a class="navbar-brand" href=@Url.Action("Home", "Weather")>
                    <i class="fa fa-home"></i>
                    Home 
                </a>
                <a class="navbar-brand" href=@Url.Action("Settings", "Weather")>
                    <i class="fa fa-wrench"></i>
                    Settings
                </a>
            </div>
            <ul class="nav navbar-nav">
            </ul>
            @using (Ajax.BeginForm("WeatherNow", "Weather", new AjaxOptions { UpdateTargetId = "weatherResult" , OnBegin = "startAjax()", OnSuccess = "weatherResultAppear()" },
                new { @class = "navbar-form navbar-right" }))
            {
                <div class="input-group">
                    @Html.TextBox("weatherCity", null, new { @class = "form-control", @required = "required", placeholder = "City name" })

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn btn-default">
                            Get weather
                            <i class="fa fa-sun-o" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/own")
    @RenderSection("scripts", required: false)
</body>
</html>
