<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSA 2017 Weather Api</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top" id="navbar">
        <a class="navbar-brand" href=@Url.Action("Filter", "Weather")>
            <img src="~/Content/img/weather_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Weather app
        </a>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; BSA @DateTime.Now.Year Weather Application by Philip Voloshin</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
